.App {
  text-align: center;
}

.App-logo {
  -webkit-animation: App-logo-spin infinite 20s linear;
          animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.primarybtn, .primarybtn :hover {
  text-decoration: none;
  font-family: "Avenir Next Regular", "Roboto", sans-serif;
  color: #323232;
  font-family: "Avenir Next Regular", "Roboto", sans-serif;
  color: #AFAFAF;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  display: block;
  margin: 1rem 0rem;
  color: #FFFFFF;
  font-weight: 700;
  background-color: #0095FF;
  border: none;
  border-radius: 4px;
  padding: 10px 30px;
}

.primarybtn :hover {
  background-color: #35a7f8;
}

h1 {
  font-family: 'Avenir Next Bold';
  color: #323232;
  text-decoration: none;
  margin-top: 24px;
  font-size: 24px;
  line-height: 32px;
  text-align: left;
}

@media (min-width: 768px) {
  h1 {
    margin-top: 32px;
    font-size: 36px;
    line-height: 44px;
  }
}

.hero__header {
  font-family: 'Avenir Next Bold';
  color: #323232;
  text-decoration: none;
  color: #323232;
  font-size: 24px;
  line-height: 32px;
}

@media (min-width: 768px) {
  .hero__header {
    font-size: 60px;
    line-height: 68px;
  }
}

.header-small {
  font-family: 'Avenir Next Bold';
  color: #323232;
  text-decoration: none;
  font-size: 24px;
  line-height: 32px;
}

h2 {
  font-family: 'Avenir Next Bold';
  color: #323232;
  text-decoration: none;
  font-family: 'Avenir Next Demi Bold';
  font-size: 14px;
  line-height: 22px;
}

@media (min-width: 768px) {
  h2 {
    font-size: 16px;
    line-height: 24px;
  }
}

h5, label {
  text-decoration: none;
  font-family: "Avenir Next Regular", "Roboto", sans-serif;
  color: #323232;
  font-family: "Avenir Next Regular", "Roboto", sans-serif;
  color: #AFAFAF;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  display: block;
  text-align: left;
}

.actor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.actor img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.HomePage {
  padding: 2vw 2vw 0vw;
  width: 100%;
  height: 100%;
  background-color: #FAFAFA;
}

@media (min-width: 768px) {
  .HomePage {
    padding: 3vw 3vw 0vw;
  }
}

@media (min-width: 1440px) {
  .HomePage {
    padding: 3vw 9.5vw;
  }
}
/*# sourceMappingURL=App.css.map */