
// VARIABLES
  //Media Widths
$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;
  //General 
$font-fam: 'Avenir Next Regular', 'Roboto', sans-serif; ;
  //colour Palette
$White: #FFFFFF;
$Black: #323232;
$Yellow: rgb(255, 194,0);
//text label color
$Silver:#AFAFAF;
$Mercury:#E1E1E1;
$Alabaster:#FAFAFA;
$Brainflix-blue-Primary: #0095FF;
$Brainflix-blue-secondary:rgb(53, 167, 248);
// MIXINS
  //text
  @mixin text-basics--header{
    font-family: 'Avenir Next Bold';
    color: $Yellow;
    text-decoration: none;
} 
@mixin text-basics--general{
  text-decoration: none;
  font-family: $font-fam;
  color:	$Yellow;
}
@mixin label{
  @include text-basics--general;
  font-family: $font-fam;
  color: $Yellow;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
}
  //Formatting 
  @mixin block-responsive{
    display: block;
    @media (min-width: $tablet) {
    display: inline-block;
      }
        @media (min-width: $desktop) {
        display: inline-block;
      }
    }
  @mixin border-outline {
  border: solid 2px $Mercury;
  border-radius: 4px;
  background-color: rgb(250,250,250);
  }

  @mixin border-section-bottom {
    border-bottom: solid 1px $Mercury;
    }

  @mixin fullscreen{
    width: 100%;
    height: 100%;
    }

  @mixin flex-desk{
    display: flex;
    flex-direction: column;
    @media (min-width: $tablet ) { 
    flex-direction: row ; 
    wrap: no-wrap; 
    }
  }

  @mixin section-padding-general{
    padding: 2vw 2vw 0vw ;
    @media (min-width: $tablet ) { 
    padding: 3vw 3vw 0vw;
      }
    @media (min-width: $desktop ) { 
    padding: 3vw 9.5vw;
      }
    }
//Avatar 
@mixin avatar{
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
//Button
@mixin primarybtn--hover{
  @extend .primarybtn;
  background-color:$Brainflix-blue-secondary;
}

.primarybtn{
  @include label();
  display: block;
  margin: 1rem 0rem; 
  color: $White;
  font-weight: 700;
  background-color: $Brainflix-blue-Primary;
  border: none;
  border-radius: 4px;
  padding: 10px 30px;
 
& :hover {
  @include primarybtn--hover();
  }    
}

//Header and Fonts 
h1{
  @include text-basics--header;
  margin-top: 24px;
  font-size: 24px;
  line-height: 32px;
  text-align: left;
      @media (min-width: $tablet) {
      margin-top: 32px;
      font-size: 36px;
      line-height: 44px;
  }
}

.hero__header{
  @include text-basics--header;
  color: $Black;
  font-size: 24px;
  line-height: 32px;
  @media (min-width: $tablet) {
  font-size: 60px;
  line-height: 68px;
  }
}

.header-small{
  @include text-basics--header;
  font-size: 24px;
  line-height: 32px;
}

h2{
  @include text-basics--header();
  font-family: 'Avenir Next Demi Bold';
  font-size: 14px;
  line-height: 22px;
      @media (min-width: $tablet) {
          font-size: 16px;
          line-height: 24px;
      }
    } 

h5, label{
  @include label(); 
  display: block;
  text-align: left;    
}

// ACTORCARD -------------------------
// .actor{
//   display: flex;
//   // flex-wrap: wrap;
//   flex-direction: column;
//   justify-content: space-between;
//   margin-left: 200px;
//   margin-right: 200px;
//  }

 img{
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
h3{
  display: block;
  width: 100px;
}

//HOMEPAGE --------------------------
.HomePage{
  @include section-padding-general();
  @include fullscreen();
  background-color: $Black;
  color: $Yellow;
  .HomePage__header{
    color: $Yellow;
  }
}

.ActorsList__div--container{
  // display: -webkit-flex;
  display: flex;
  // -webkit-flex-direction: row;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
}

.submitbtn{
  background-color: $Yellow;
  padding: 1rem;
  border-style: none;
  border-radius: 4px;
}


//RESULTS --------------------------
.HomePage{
  @include section-padding-general();
  @include fullscreen();
  background-color: $Black;
  color: $Yellow;
  .HomePage__header{
    color: $Yellow;
  }
}
