
// VARIABLES
  //Media Widths
$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;
  //General 
$font-fam: 'Avenir Next Regular', 'Roboto', sans-serif; ;
  //colour Palette
$White: #FFFFFF;
$Black: #323232;
$Yellow: rgb(255, 194,0);
//text label color
$Silver:#AFAFAF;
$Mercury:#E1E1E1;
$Alabaster:#FAFAFA;
// MIXINS
  //text
  @mixin text-basics--header{
    font-family: 'Avenir Next Bold';
    color: $Yellow;
    text-decoration: none;
} 
@mixin text-basics--general{
  text-decoration: none;
  font-family: $font-fam;
  color:	$Yellow;
}
@mixin label{
  @include text-basics--general;
  font-family: $font-fam;
  color: $Yellow;
  font-size: 15px;
  font-weight: 600;
}
  //Formatting 
  @mixin fullscreen{
    width: 100%;
    height: 100vh;
    }

  @mixin section-padding-general{
    padding: 2vw 2vw 0vw ;
    @media (min-width: $tablet ) { 
    padding: 3vw 3vw 0vw;
      }
    @media (min-width: $desktop ) { 
    padding: 3vw 9.5vw;
      }
    }


//Button
@mixin primarybtn--hover{
  @extend .primarybtn;
  background-color:$Yellow;
}

.primarybtn{
  @include label();
  display: block;
  margin: 1rem 0rem; 
  color: $White;
  font-weight: 700; 
  border: none;
  border-radius: 4px;
  padding: 10px 30px;
 
& :hover {
  @include primarybtn--hover();
  }    
}

//Header and Fonts 
h1{
  @include text-basics--header;
  margin-top: 24px;
  font-size: 24px;
  line-height: 32px;
  text-align: left;
      @media (min-width: $tablet) {
      margin-top: 32px;
      font-size: 36px;
      line-height: 44px;
  }
}

h2{
  @include text-basics--header();
  font-family: 'Avenir Next Demi Bold';
  font-size: 24px;
  font-weight: 500;
  line-height: 22px;
      @media (min-width: $tablet) {
          font-size: 16px;
          line-height: 24px;
      }
    } 
h3{
  @include text-basics--header();
  font-family: 'Avenir Next Demi Bold';
  margin-left: 3.5rem;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
      @media (min-width: $tablet) {
          font-size: 16px;
          line-height: 24px;
      }
    } 

h5, label{
  @include label(); 
  font-weight: 200;
  display: block;
  text-align: left;    
}

html{
  background-color: $Black;
}

//HEADER COMPONENT ----------------------
header{
  display:flex;
  justify-content: flex-start;
  align-items: center; 
  padding: 1rem 0.5rem;
  margin-bottom: 2rem;
  background-color: black;
  height: 45px;
  .header__container > *{
    margin: 0px;
    padding: 0px;
  }
  .main__subheader{
    font-weight: 200;
    font-size: 10px;
  }
  .goldenYears__reel{
    height: 40px;
    margin: 0rem 1rem;
  }
}

//MOVIE TITLE CARD ------------------------------
.movietitlecard{
  position: relative;
  width: 120px;
  height: 150px;
  background-color: #d8d8d8;
  border-radius: 4px;
  margin: 0.75rem;
  margin: 0.5rem;

  .movietitlecard__title--container{
    position: absolute;
    bottom: 0px;
    width: 99%;
    height: 35%;
    background-color: rgba(0,0,0, 0.5);
    padding: 1px;
    .movietitlecard__title{
      margin-top: 5%;
    }
    & > *{
      color: white;
      text-align: center;
      vertical-align: bottom;
      margin: 0px;
    }
  }
}
.movieposter{
  width: 120px;
  height: 150px;
  border-radius: 4px;
  object-fit: fill;
  object-position: center;
}
//RECOMMENDATION CARD -----------------------------
.recommendationCard{
  position: relative;
  width: 80vw;  
  height: 50vh;
  background-color: #d8d8d8;
  border-radius: 4px;
  margin: 0.75rem;
  margin-bottom: 3rem;
  .movietitlecard__title--container{
    position: absolute;
    bottom: 0px;
    width: 99.6%;
    height: 35%;
    background-color: rgba(0,0,0, 0.5);
    padding: 1px;
    & > *{
      color: white;
      padding-top: 5%;
      text-align: left;
    }
  }
}

.movieposter--recommendation{
  width:100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
  object-position: top;
}


// ACTORCARD -------------------------
.actorCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15vw;
  margin: 0.75rem 1.5rem;  
  height: 100px;
  h5 {
    margin: 0.25rem;
  }
  .actorImg{
    border-radius: 50%;
    filter: grayscale(100%);
    object-fit: cover; 
    width: 115px;
    height: 115px;
    &:hover{
      filter: grayscale(0%);
    }
  }

  .actorImg:focus{
    filter: grayscale(100%);
  }
  .actorCard--name{
    text-align: center;
    width: 155px;
  }
}

a{
  text-decoration: none;
  margin: 1.5em 0em;
}

//RECOMMENDED ACTOR LIST ----  
.ActorsList__div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.5rem 0rem;
}


[type=checkbox] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
[type=checkbox] + img {
  cursor: pointer;
}

[type=checkbox]:checked + img {
  // outline: 2px solid #f00;
    filter: grayscale(0);
}


//HOMEPAGE --------------------------
.HomePage{
  position:relative;
  margin: 2em 0em;
  background-color: $Black;
  color: $Yellow;
  height: 60vh;
  .HomePage__header{
    color: $Yellow;
  }
}

.ActorsList__div--container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.homepage__submitbtn{
  position: absolute;
  right: 50%;
  bottom: 0.25px;
  transform: translateX(50%);
  font-weight: 600;
  background-color: $Yellow;
  width: 100px;
  margin: 1rem 0rem;
  padding: 0.50rem;
  border-style: none;
  border-radius: 4px;
}


//RESULTS --------------------------
.Searchpage{
  @extend .HomePage;
  padding: 0px;
  h3{
    margin: 0px;
  }
}

.actorSelectionResults{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 85%;
  margin: auto;
  margin-bottom: 2rem;
}

.actorSelectionRecommendations{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 85%;
  margin: auto;
  margin-bottom: 2rem;
}

.indent{
  margin-left: 5rem;
  margin-top: 3rem;
}


.videoPlayer__section{
 margin-left: 5%;
 margin-right: 5%;
}